body{
    font-family: 'Raleway', sans-serif;
}

/*body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
*/
#particle-canvas {
    width: 100%;
    height: 100vh;
}

/** Default Style **/
h1 ,h2 , h3 , h4, h5 , h6{
    font-size: 40px;
    color: #000;
    font-family: 'Raleway', sans-serif;
}

p{
    font-size: 16px;
    color: #5a8292;
}

.container {
    max-width: 1600px;
}

ul , p{
    margin: 0;
    padding:0;
}

button:focus {
    outline: none;
}

section{
    float: left;
    width: 100%;
    padding: 100px 0;
    position: relative;
}

/** Default Style ends **/


/** Fonts **/

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot');
    src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fontawesome-webfont.woff2') format('woff2'),
        url('../fonts/fontawesome-webfont.woff') format('woff'),
        url('../fonts/fontawesome-webfont.ttf') format('truetype'),
        url('../fonts/fontawesome-webfont.svg#TrajanPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



/** Fonts Ends **/

/** header **/

header {
    position: relative;
    z-index: 200;
}

/** header ends **/
.nav-item.dropdown {
    float: right;
    width: auto;
    margin: 0 40px 0 0px;
}

.nav-item.dropdown:hover>.dropdown-menu {
    display: block;
    top: 93%;
    min-width: 50px!important;
    padding: 0;
}

.nav-item.dropdown:hover>.dropdown-menu a{
    padding: 5px 17px;
}

.nav-item.dropdown .nav-link {
    color: #fff;
}

.lang-social {
    background: #000;
    height: 40px;
}

.social-top {
    max-width: 100;
    float: right;
    height: 40px;
    line-height: 40px;
}

.social-top a {
    margin-left: 10px;
    color: #999;
    text-decoration: none;
}

.social-top a:hover{
    color:#fff;
}
/**top bar**/
.top-bar {
    background: #c80c0c;
    text-align: right;
    padding: 0;
    height: 45px;
    line-height: 42px;
}

.top-bar li {
    display: inline-block;
    margin-left: 50px;
    position: relative;
}

.top-bar li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: .5s;
}

.top-bar li a:hover{
    color: #fff;
}

.top-bar ul li a span.cart i {
    font-size: 16px;
    display: block;
}

.top-bar button.login {
    padding: 0;
    border: none;
    color: #c80c0c;
    background: #fff;
    width: 90px;
    height: 27px;
    text-transform: uppercase;
    border-radius: 2px;
    line-height: 27px;
}

.top-bar ul li a i {
    color: #fff;
    margin-right: 6px;
    font-size: 12px;
}

.top-bar li .dropdown button {
    background: #fff;
    padding: 0;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 3px;
    width: 100px;
    height: 30px;
    color: red;
    font-weight: 500;
}

.top-bar li ul.dropdown-menu li {
    margin: 0 10px;
    display: block;
    height: auto;
    padding: 0;
    line-height: normal;
}

.top-bar li ul.dropdown-menu li a {
    color: #000;
    padding: 0;
    margin: 0;
    display: block;
    height: 40px;
    line-height: 40px;
}

.top-bar li ul.dropdown-menu li a:hover {
    color: #c80c0c;
    padding: 0;
    margin: 0;
}

/**top bar ends**/


/** Navigation **/

.navbar-brand.logo {
    position: absolute;
    top: 18px;
    left: 2%;
}

.navbar-brand.logo img{
    max-width: 100px;
}

.main-nav nav img {
    max-width: 300px;
}

.main-nav {
    float: left;
    width: 100%;
    background: #fff;
    padding:0;
}

.main-nav nav.navbar.navbar-expand-md {
    margin: 0;
    padding: 0;
}

.main-nav a.nav-link {
    color: #000;
    padding:0;
}

.main-nav a.nav-link:hover {
    color: #c80c0c;
}

.main-nav li.nav-item.active a.nav-link{
    color:  #d4af56;
}

.main-nav li.nav-item {
    margin-left: 80px;
    text-transform: inherit;
}

.main-nav li.nav-item a.nav-link {
    padding: 0;
}

.main-nav a.nav-link:hover:before {
    content: "";
    height: 2px;
    width: auto;
    background: #d4af56;
    position: absolute;
    bottom: 0;
}

.navbar-toggler-icon i {
    font-size: 30px;
    color: #fa6c00;
}

nav.navbar.navbar-expand-lg {
    margin: 0;
    padding: 0;
}

button.navbar-toggler:focus {
    outline: none;
}

.fixed-header {
    position: fixed;
    z-index: 100;
    top: 0;
    transition: .5s;
    background: #fff;
    box-shadow: 0px 0px 5px #b3b3b3;
}

.main-nav .dropdown-menu {
    background: #fff;
    border: 10px solid #ebf7fe;
    padding:0;
}

.main-nav .dropdown-item.active, .main-nav .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #c80c0c;
}

.main-nav .nav-item .dropdown-menu a {
    padding: 10px 20px;
}

/** Navigation Ends **/





/** slider-sec **/

section#slider {
    padding: 0;
}


.carousel-indicators li {
    width: 20px;
    height: 20px;
    margin-left: 3px;
    background-color: #8d8d8f;
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: #ffb12b;
}

#slider .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

#mycarousel .carousel-item.boat {
    background-image: url("../images/slider-01.jpg");
}

#mycarousel .carousel-item.sea {
    background-image: url("../images/slider-01.jpg");
}

#mycarousel .carousel-item.river {
    background-image: url("../images/slider-01.jpg");
}

#mycarousel .carousel-item {
    height: calc(100vh - 152px);
    width: 100%;
    min-height: 350px;
    background: no-repeat center center scroll;
    background-size: cover;
}

#mycarousel .carousel-inner .carousel-item {
    transition: -webkit-transform 2s ease;
    transition: transform 2s ease;
    transition: transform 2s ease, -webkit-transform 2s ease;
}

#mycarousel .carousel-item .caption {
    padding: 40px;
    color: white;
    animation-duration: 1s;
    animation-delay: 2s;
    background: rgb(0 0 0 / 75%);
}

#mycarousel .caption h2 {
    animation-duration: 1s;
    animation-delay: 2s;
    color: #fff;
    text-transform: uppercase;
}

#mycarousel .caption h1 {
    color: #fff;
    text-transform: inherit;
    font-size: 45px;
    font-weight: 700;
}

#mycarousel .caption p {
    animation-duration: 1s;
    animation-delay: 2.2s;
    text-transform: initial;
    color: #fff;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
}

#mycarousel .caption a {
    animation-duration: 1s;
    animation-delay: 2.4s;
}


#mycarousel .caption p a {
    background: #c80c0c;
    display: inline-block;
    color: #fff;
    text-transform: capitalize;
    height: 45px;
    font-size: 18px;
    width: 150px;
    line-height: 45px;
    text-align: center;
    margin-top: 25px;
    text-decoration: none;
}
/* Button */
.delicious-btn {
    display: inline-block;
    min-width: 160px;
    height: 60px;
    color: #ffffff;
    border: none;
    border-left: 3px solid #ffb12b;
    border-radius: 0;
    padding: 0 30px;
    font-size: 16px;
    line-height: 58px;
    font-weight: 600;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-transform: uppercase;
    background-color: #ffb12b;
    margin-top: 50px;
}

.delicious-btn.active, .delicious-btn:hover, .delicious-btn:focus {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #ffb12b;
    border-color: #ffb12b;
}
}

#mycarousel .caption p {
    animation-duration: 1s;
    animation-delay: 2.2s;
    text-transform: uppercase;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}


/**business-view **/


/**banner**/
section#banner-sec {
    padding: 0;
    height: calc(100vh - 20vh);
}

section#banner-sec img {
    width: 100%;
    object-fit: cover;
    height: calc(100vh - 20vh);
}

.banner-overlay h1 {
    color: #fff;
    text-transform: inherit;
    font-size: 45px;
    font-weight: 700;
}

.banner-overlay p {
    color: #fff;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
}

.banner-overlay p:last-child {
    text-align: right;
}

.banner-overlay p a {
    background: #c80c0c;
    display: inline-block;
    color: #fff;
    text-transform: capitalize;
    height: 45px;
    font-size: 18px;
    width: 150px;
    line-height: 45px;
    text-align: center;
    margin-top: 25px;
    text-decoration: none;
    border-radius: 3px;
}

.overlay-main {
    position: absolute;
    top: 18%;
    z-index: 5;
    left: 0%;
    right: 0;
    padding:0px;
    color: white;
    animation-duration: 1s;
    animation-delay: 2s;
    width: 100%;
    max-width: 850px;
    margin: auto;
}

.overlay-main h1 {
    color: #fff;
    text-transform: inherit;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

.banner-overlay {
    background: rgb(0 0 0 / 75%);
    margin-top: 50px;
    padding: 40px;
}

.over-form {
    float: left;
    width: 100%;
    margin-top: 25px;
    border-bottom: 1px solid #83878a;
    padding-bottom: 30px;
}

.over-form label {
    display: block;
    font-size: 14px;
}

.over-form input[type="text"] {
    width: 100%;
    height: 40px;
    background: #4b4d51;
    border: none;
    padding: 0 30px 0 10px;
    color:#fff;
}

.over-form .row:first-child {
    margin-bottom: 20px;
}

section#banner-sec .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.over-form i {
    position: absolute;
    right: 24px;
    margin-top: 11px;
}

/**banner sec**/

section#business-sec {
    background:url("../images/business-bg.jpg") repeat 0 0;
}

.business-box {
    height: 100%;
    text-align: center;
    padding:40px 30px 90px 30px;
}


.button-hover a:hover{background:#c80c0c;
                      color:#fff; }

#business-sec .all-head {
    text-align: center;
}

.business-inner {
    margin: 70px 0 0 0;
    background: #fff;
    box-shadow: 0px 0px 10px #e2e2e2;
}

.business-inner .row > div:nth-child(odd) .business-box {
    background: #f8f8f8;
}

.business-box h4 {
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0;
}

.business-box p a img {
    max-width: 20px;
}

.business-box p a {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    color: #c80c0c;
}
/** business-view ends **/



/** about us **/

section#about-sec {
    padding:200px 0 0;
}

.about-detail {
    padding: 0;
    margin: 70px 20% 0 0;
}

.about-detail p {
    line-height: 30px;
}

.about-detail p a {
    border: 1px solid #c80c0c;
    color: #000;
    text-transform: uppercase;
    display: inline-block;
    width: 170px;
    text-align: center;
    height: 45px;
    line-height: 45px;
    margin-top: 20px;
    text-decoration: none;
}

.all-head {
    margin-bottom: 20px;
}

.all-head p{
    color:#000;
}

.all-head h2 {
    font-weight: 800;
}

.all-head h2 span{
    color:#c80c0c;
}

.over-year {
    position: absolute;
    bottom: -40px;
    z-index: 10;
    background: #c80c0c;
    width: 160px;
    height: 160px;
    left: -58px;
    text-align: center;
    padding: 10px 20px;
}

.over-year h4 {
    color: #fff;
    font-weight: 700;
    font-size: 50px;
    margin:0;
}

.over-year p{
    color:#fff;
    font-weight: 500;
}

.about-detail-img {
    position: relative;
    background: #f8f8f8;
}

.about-detail-img:before {
    content: "";
    height: 130px;
    width: 130px;
    border-top: 8px solid #c80c0c;
    border-right: 8px solid #c80c0c;
    z-index: 5;
    position: absolute;
    right: 14px;
    top: -82px;
}

.about-detail-img img {
    width: 100%;
    padding: 0 40px 40px 0;
    margin: -50px 0 0 0px;
}

/** about us ends **/



/** contact row **/
section#contact-row {
    background: #e7e7e7;
    margin: 120px 0 0;
}


.contact-btn button.contact {
    border: 1px solid #c80c0c;
    color: #000;
    text-transform: uppercase;
    display: inline-block;
    width: 170px;
    text-align: center;
    height: 45px;
    line-height: 45px;
    margin-top: 20px;
    text-decoration: none;
    background: none;
}

.contact-emr h5 {
    font-size: 20px;
    font-weight: 500;
    margin:0;
}

.contact-emr h2 {
    font-weight: 800;
    margin:0;
}

.contact-emr span {
    position: absolute;
    left: 0;
    background: #c80c0c;
    color: #fff;
    display: inline-block;
    width: 70px;
    height: 70px;
    font-size: 35px;
    text-align: center;
    padding: 17px 0 0;
}

.contact-emr {
    padding: 0 0 0 85px;
    width: 390px;
    margin: 28px auto;
    position: relative;
}

section#contact-row {
    background: #e7e7e7;
    margin: 150px 0;
    padding: 0;
    height: 130px;
}

.contact-btn img {
    position: absolute;
    z-index: 5;
    width: 230px;
    margin: -85px 60px 0 0;
    left: 0;
}

.contact-btn button.contact {
    border: 1px solid #c80c0c;
    color: #000;
    text-transform: uppercase;
    display: inline-block;
    width: 170px;
    text-align: center;
    height: 45px;
    line-height: 45px;
    text-decoration: none;
    background: none;
    margin-top: 24px;
}

.contact-btn {
    text-align: center;
    margin: 20px 0 20px 0;
    border-right: 1px solid #b9b9b9;
    height: 95px;
}

.contact-btn p {
    text-align: left;
    width: auto;
    display: inline-block;
    color: #000;
    font-size: 25px;
    font-weight: 600;
    float: left;
}

.contact-btn a {
    float: left;
}

/** contact row ends **/

/**video sec**/
#video-sec .container-fluid {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.hs-responsive-embed-youtube {
    position: relative;
    /*padding-bottom: 56.25%;  16:9 Aspect Ratio */
    padding-bottom: 40%;
    padding-top: 0;
}

.hs-responsive-embed-youtube iframe {
    position: absolute;
    width: 100%!important;
    height: 100%!important;
}


/***vv**/

.caseStudyImage {
    overflow: hidden;
}
.caseStudyImage img {
    display: block;
    width: 100%;
}

#video {
    background: url(../images/video-cover.jpg) no-repeat 0 0;
    position: relative;
    padding-bottom: 47.56098%;
    height: 0;
    overflow: hidden;
    background-size: cover;
    background-position-x: -250px;
}

#video .btnPlay {
    position: absolute;
    width: 160px;
    height: 160px;
    background: url(../images/play-icon.png) no-repeat;
    top: 0;
    left: 0;
    z-index: 11;
    background-size: 100%;
    right: 0;
    bottom: 0;
    margin: auto;
}

#video iframe {
    margin-left: -9999px;
    position: absolute;
    width: 820px;
    z-index: 2;
}
#video iframe.active {
    margin-left: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.displayNone {
    display: none !important;
}

/**video sec ends **/
section#video-sec {
    padding-top: 0;
}


/** advan sec **/
.advan h3 {
    font-size: 20px;
    margin:0;
}

.advan .row {
    margin-bottom: 15px;
}

.advan p {
    font-size: 14px;
}

section#advantages-sec .all-head {
    text-align: center;
    margin-bottom: 80px;
}

.adv-right {
    text-align: right;
}

.adv-img {
    text-align: center;
}

.adv-img img {
    max-width: 700px;
    width: 100%;
}

.advan img {
    margin-top: 22px;
}

/** advan sec end **/

/** faq **/
section#faq {
    background: #eff0f2;
}

div#faq {
    margin-top: 50px;
}

#faq .all-head {
    text-align: center;
}

#faq .card {
    margin-bottom: 30px;
    border: 0;
}

#faq .card .card-header {
    border: 0;
    -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
    box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
    border-radius: 2px;
    padding: 0;
}

#faq .card .card-header .btn-header-link {
    color: #fff;
    display: block;
    text-align: left;
    background: #fff;
    color: #000;
    padding: 20px;
    font-weight: 600;
}

#faq .card .card-header .btn-header-link:after {
    content: "\f107";
    font-family: 'FontAwesome';
    font-weight: 900;
    float: right;
    color: #c80c0c;
    font-size: 30px;
    right: 30px;
    top: 10px;
    position: absolute;
}

#faq .card .card-header .btn-header-link.collapsed {
    background: #fff;
    color: #000;
    font-weight: 600;
}

#faq .card .card-header .btn-header-link.collapsed:after {
    content: "\f106";
}

#faq .card .collapsing {
    background: #fff;
    line-height: 30px;
}

#faq .card .collapse {
    border: 0;
}

#faq .card .collapse.show {
    background: #fff;
    line-height: 30px;
    color: #000;
}

#faq .card-body hr {
    margin: 0;
    padding-bottom: 10px;
}

#faq .card-body {
    padding-top: 0;
}
/** faq ends **/




/**testimonial**/
.tesi-inner {
    background: url(../images/testimonial-img.jpg) no-repeat 0 0;
    background-size: cover;
    padding: 120px 0;
}

section#testmonial > .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

#testmonial .all-head{
    text-align: center;
}

#testmonial .owl-carousel .owl-item img {
    display: block;
    width: auto;
    max-width: inherit;
    margin: 0 auto;
    padding: 0;
}

#testmonial .owl-slider .item .img-item
{
    background: none;
}

#testmonial .owl-slider .item {
    /*min-height: 400px;*/
    padding: 50px 0 0 0;
}

#testmonial .owl-slider {
    margin: 0 60px 0 0px;
}

#testmonial .owl-slider p {
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
    color: #adadad;
    font-weight: 500;
    min-height: 35px;
    padding: 0px 30px;
    position: relative;
}

#testmonial .tesi-inner .owl-slider .item h3 {
    color: #fff!important;
    font-size: 20px;
    text-align: center;
    margin: 20px 0 0;
    font-weight: 500;
}

#testmonial .tesi-inner .owl-slider .item h3 span {
    display: block;
    font-size: 14px;
    font-style: italic;
    color: #b69045;
    margin-top: 10px;
}

#testmonial .owl-slider p:after {
    content: "\f10d";
    font-family: 'FontAwesome';
    color: red;
    position: absolute;
    top: -10px;
    left: 14px;
}

#testmonial .owl-slider p:before {
    content: "\f10e";
    font-family: 'FontAwesome';
    color: red;
    position: absolute;
    bottom: -10px;
    right: 14px;
}

#testmonial .all-head h2 {
    color: #fff;
}

#testmonial .owl-nav button span {
    font-size: 70px;
}

#testmonial .owl-nav button.owl-next {
    float: right;
}

#testmonial .owl-nav {
    position: absolute;
    width: 100%;
    top: 90px;
}

/**testimonial logos**/


/**blog sec **/
section#blog .all-head {
    text-align: center;
}

.post-img img {
    width: 100%;
}

.blog-post {
    margin: 0px 70px 0 0;
    float: left;
    width: 100%;
}

.blog-post h3 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
}

.blog-inner {
    margin-top: 50px;
}

.blog-post ul {
    width: 100%;
    margin: 10px 0 10px;
    float: left;
}

.blog-post ul li {
    list-style: none;
    float: left;
    margin: 0 40px 0 0;
    color: #527095;
    font-size: 16px;
}

.blog-post ul li i {
    color: #c80c0c;
    padding: 0 4px 0 0px;
}

.blog-post p a {
    color: #c80c0c;
    text-transform: capitalize;
    margin-top: 20px;
    display: block;
    text-decoration: none;
}

.blog-post p a img {
    width: 25px;
    margin: 0 0 0 10px;
}

.post-list.blog-post li {
    margin: 0 20px 0 0;
    font-size: 14px;
}

.post-list.blog-post p {
    font-size: 14px;
}

.date-box {
    background: #c80c0c;
    text-align: center;
    height: 120px;
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    padding: 6px 0 0 0;
}

.date-box span {
    line-height: normal;
    font-size: 20px;
    display: block;
    font-weight: 400;
    text-transform: capitalize;
}

.post-list.blog-post h3 {
    margin: 0;
}

.post-list.blog-post > .row {
    margin: 0 0 60px;
}

section#blog {
    padding: 0 0 100px;
}

/**blog sec ends **/


/** spa facts **/
section#sprouse {
    background: url(../images/spa-facts-bg.jpg);
    background-size: cover;
    padding: 80px 0 0;
}

.sprouse-img-det .all-head p {
    color: #fff;
}

.sprouse-img-det .all-head h2 {
    color: #fff;
    margin: 10px 0 20px;
}

.spa-facts {
    width: 400px;
    margin: 40px 0 0 0;
}

.spa-facts ul li {
    list-style: none;
    float: left;
    width: 50%;
    height: 160px;
    padding: 28px 0 0 0;
    border: 1px solid #3c3c3c;
}

.spa-facts ul li:first-child {
    border-top: none;
    border-left: none;
    border-right: none;
}

.spa-facts ul li:nth-child(2) {
    border-right: none;
    border-top: none;
}

.spa-facts ul li:nth-child(3) {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-top: 0;
}

.spa-facts ul li:nth-child(4) {
    border-right: none;
    border-bottom: none;
    border-top: none;
}

.spa-facts ul li {
    text-align: center;
}

.spa-facts ul li h3{
    text-align: center;
    color:#fff;
}

.spa-facts ul li p{
    text-align: center;
    color:#fff;
}

.sprouse-img {
    text-align: center;
}

.sprouse-img img {
    max-width: 487px;
    width: 100%;
}

.spa-facts ul li h3
{
    position: relative;
    padding-bottom: 5px;
}

.spa-facts ul li h3:before {
    content: "";
    height: 1px;
    width: 30px;
    background: red;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin:auto;
}

.opration-videos h5.modal-title.js-title-insert {
    font-size: 20px;
    font-weight: 800;
}

/** spa facts ends**/

/**newletter sec**/

section#newsletter {
    background: url(../images/newsletter-bg.jpg) no-repeat 0 0;
    background-size: cover;
    text-align: center;
}

section#subscribe {
    padding: 50px 0;
    background: #c80c0c;
}

.subscribe-inner h3 {
    color: #fff;
}

.input-box {
    background: #fff;
    border-radius: 4px;
    padding: 0;
}

.input-box input[type="text"] {
    width: 70%;
    height: 50px;
    border-radius: 5px;
    border: none;
    padding: 0 11px;
}

.input-box button {
    width: 30%;
    border: none;
    background: red;
    height: 55px;
    color: #fff;
    font-size: 21px;
    margin: 0;
    padding: 0;
}

.input-box input[type="text"] {
    width: 70%;
    height: 55px;
    border-radius: 5px;
    border: none;
    padding: 0 11px;
    float: left;
}

.input-box button {
    width: 30%;
    background: red;
    height: 55px;
    color: #fff;
    font-size: 21px;
    margin: 0;
    padding: 0;
    border: 1px solid #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.footer-col.footer-logo p a {
    color: #c80c0c;
    text-transform: capitalize;
    text-decoration: none;
}

/**newsletter end sec**/

/** footer **/
footer{
    float: left;
    width: 100%;
}

.footer-col.footer-logo {
    text-align: left;
    margin-top: 4%;
}

.social-icons li {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    background: #c80c0c;
    margin-right: 20px;
}

.footer-col .social-icons li a {
    color: #000;
    font-size: 20px;
    padding-top: 11px;
    display: inline-block;
}

footer#footer {
    background: url(../images/footer-bg.jpg);
    padding-top: 80px;
    background-size: cover;
}

.footer-col {
    margin-bottom: 0;
    margin-top: 50px;
}

.footer-col h3 {
    color: #c80c0c;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.footer-logo p {
    color: #808080;
    text-align: left;
    margin: 20px 0;
}

.footer-col ul li{
    list-style: none;
    margin-bottom: 15px;
    position: relative;
}

.footer-col ul li a {
    color: #fff;
}

.footer-bot p {
    color: #7b7b7b;
    padding: 30px 0;
}

.terms-banner {
    text-align: right;
}

.footer-bot {
    border-top: 1px solid #000;
    background: #000;
    text-align: center;
    font-weight: 300;
    margin-top: 60px;
}

.footer-add span {
    color: #c80c0c;
    position: absolute;
    left: 0;
    top: 3px;
    font-size: 16px;
    width: 30px;
    text-align: center;
    display: inline-block;
    margin-right: 60px;
}

.footer-add li {
    color: #fff;
    padding-left: 40px;
}

.footer-col.quick-links ul li {
    margin-bottom: 5px;
}

.footer-col.footer-add ul {
    margin-top: 50px;
}

.footer-col.quick-links {
    padding: 0 70px;
}


/** popup login **/
/* -------------------------------- 

xsigin/signup popup 

-------------------------------- */
.cd-user-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 54, 66, 0.9);
    z-index: 9;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
    -moz-transition: opacity 0.3s 0, visibility 0 0.3s;
    transition: opacity 0.3s 0, visibility 0 0.3s;
}
.cd-user-modal.is-visible {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.3s 0, visibility 0 0;
    -moz-transition: opacity 0.3s 0, visibility 0 0;
    transition: opacity 0.3s 0, visibility 0 0;
}
.cd-user-modal.is-visible .cd-user-modal-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.cd-user-modal-container {
    position: relative;
    width: 90%;
    max-width: 600px;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: 0.25em;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.cd-user-modal-container .cd-switcher::after {
    clear: both;
    content: "";
    display: table;
}
ul.cd-switcher {
    list-style: none;
}
.cd-user-modal-container .cd-switcher li {
    width: 50%;
    float: left;
    text-align: center;
}
.cd-user-modal-container .cd-switcher li:first-child a {
    border-radius: .25em 0 0 0;
}
.cd-user-modal-container .cd-switcher li:last-child a {
    border-radius: 0 .25em 0 0;
}
.cd-user-modal-container .cd-switcher a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #d2d8d8;
    color: #809191;
}
.cd-user-modal-container .cd-switcher a.selected {
    background: #FFF;
    color: #000;
    text-decoration: none;
}
@media only screen and (min-width: 600px) {
    .cd-user-modal-container {
        margin: auto;
        top: 30%;
    }
    .cd-user-modal-container .cd-switcher a {
        height: 70px;
        line-height: 70px;
    }
}

.cd-form {
    padding: 1.4em;
}
.cd-form .fieldset {
    position: relative;
    margin: 1.4em 0;
}
.cd-form .fieldset:first-child {
    margin-top: 0;
}
.cd-form .fieldset:last-child {
    margin-bottom: 0;
}
.cd-form label {
    font-size: 14px;
    font-size: 0.875rem;
}
.cd-form label.image-replace {
    /* replace text with an icon */
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    text-shadow: none;
    background-repeat: no-repeat;
    background-position: 50% 0;
}
.cd-form label.cd-username {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-username.svg");
}
.cd-form label.cd-email {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-email.svg");
}
.cd-form label.cd-password {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-password.svg");
}
.cd-form input {
    margin: 0;
    padding: 0;
    border-radius: 0.25em;
}
.cd-form input.full-width {
    width: 100%;
}
.cd-form input.has-padding {
    padding: 12px 20px 12px 50px;
}
.cd-form input.has-border {
    border: 1px solid #d2d8d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.cd-form input.has-border:focus {
    border-color: #343642;
    box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
    outline: none;
}
.cd-form input.has-error {
    border: 1px solid #d76666;
}
.cd-form input[type=password] {
    /* space left for the HIDE button */
    padding-right: 65px;
}
.cd-form input[type=submit] {
    padding: 16px 0;
    cursor: pointer;
    background: #c80c0c;
    color: #FFF;
    font-weight: bold;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.no-touch .cd-form input[type=submit]:hover, .no-touch .cd-form input[type=submit]:focus {
    background: #c80c0c;
    outline: none;
}
.cd-form .hide-password {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
    font-size: 0.875rem;
    color: #343642;
}
.cd-form .cd-error-message {
    display: inline-block;
    position: absolute;
    left: -5px;
    bottom: -35px;
    background: rgba(215, 102, 102, 0.9);
    padding: .8em;
    z-index: 2;
    color: #FFF;
    font-size: 13px;
    font-size: 0.8125rem;
    border-radius: 0.25em;
    /* prevent click and touch events */
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
    -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
    transition: opacity 0.2s 0, visibility 0 0.2s;
}
.cd-form .cd-error-message::after {
    /* triangle */
    content: '';
    position: absolute;
    left: 22px;
    bottom: 100%;
    height: 0;
    width: 0;
    border-bottom: 8px solid rgba(215, 102, 102, 0.9);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
.cd-form .cd-error-message.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0, visibility 0 0;
    -moz-transition: opacity 0.2s 0, visibility 0 0;
    transition: opacity 0.2s 0, visibility 0 0;
}
@media only screen and (min-width: 600px) {
    .cd-form {
        padding: 2em;
    }
    .cd-form .fieldset {
        margin: 2em 0;
    }
    .cd-form .fieldset:first-child {
        margin-top: 0;
    }
    .cd-form .fieldset:last-child {
        margin-bottom: 0;
    }
    .cd-form input.has-padding {
        padding: 16px 20px 16px 50px;
    }
    .cd-form input[type=submit] {
        padding: 16px 0;
    }
}

.cd-form-message {
    padding: 1.4em 1.4em 0;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.4;
    text-align: center;
}
@media only screen and (min-width: 600px) {
    .cd-form-message {
        padding: 2em 2em 0;
    }
}

.cd-form-bottom-message {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -30px;
    text-align: center;
    font-size: 14px;
    font-size: 0.875rem;
}
.cd-form-bottom-message a {
    color: #FFF;
    text-decoration: underline;
}

.cd-close-form {
    /* form X button on top right */
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: -40px;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-close.svg") no-repeat center center;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
@media only screen and (min-width: 1170px) {
    .cd-close-form {
        display: none;
    }
}

#cd-login, #cd-signup, #cd-reset-password {
    display: none;
}

#cd-login.is-selected, #cd-signup.is-selected, #cd-reset-password.is-selected {
    display: block;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    top: 100%;
    margin: 0;
}
/**popup login ends **/

/** footer ends**/



